In [27]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

engine = create_engine("sqlite:///restaurantdata.sqlite", echo=False)

inspector = inspect(engine)
inspector.get_table_names()

['restaurants']

In [29]:
df = pd.DataFrame(datatest, columns=['businesses__id','businesses__name','businesses__image_url','businesses__is_closed',
                                     'businesses__url','businesses__review_count','businesses__categories__alias',
                                     'businesses__categories__title','businesses__rating','businesses__coordinates__latitude',
                                     'businesses__coordinates__longitude','businesses__transactions__001',
                                     'businesses__transactions__002','businesses__transactions__003','businesses__price',
                                     'businesses__location__address1','businesses__location__address2',
                                     'businesses__location__address3','businesses__location__city',
                                     'businesses__location__zip_code','businesses__location__country',
                                     'businesses__location__state','businesses__location__display_address__001',
                                     'businesses__location__display_address__002','businesses__location__display_address__003',
                                     'businesses__phone','businesses__display_phone','businesses__distance','total',
                                     'region__center__longitude','region__center__latitude'
])

,businesses__id,businesses__name,businesses__image_url,businesses__is_closed,businesses__url,businesses__review_count,businesses__categories__alias,businesses__categories__title,businesses__rating,businesses__coordinates__latitude,...,businesses__location__state,businesses__location__display_address__001,businesses__location__display_address__002,businesses__location__display_address__003,businesses__phone,businesses__display_phone,businesses__distance,total,region__center__longitude,region__center__latitude
0,16758591,Toloache 50,None,None,https://www.zomato.com/new-york-city/toloache-...,375.0,None,Mexican,4.1,40.762181,...,None,None,None,None,NaN,None,NaN,NaN,NaN,NaN
1,16758697,5 Burro CafÃ©,None,None,https://www.zomato.com/new-york-city/5-burro-c...,330.0,None,Mexican,4.3,40.719369,...,None,None,None,None,NaN,None,NaN,NaN,NaN,NaN
2,16758999,Adrienne's Pizza Bar,None,None,https://www.zomato.com/new-york-city/adriennes...,537.0,None,Italian,4.6,40.704525,...,None,None,None,None,NaN,None,NaN,NaN,NaN,NaN
3,16759326,Amma,None,None,https://www.zomato.com/new-york-city/amma-turt...,149.0,None,Indian,3.8,40.755706,...,None,None,None,None,NaN,None,NaN,NaN,NaN,NaN
4,16759669,Artisanal Fromagerie & Bistro,None,None,https://www.zomato.com/new-york-city/artisanal...,588.0,None,French,4.2,40.742716,...,None,None,None,None,NaN,None,NaN,NaN,NaN,NaN

(416, 31)